node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Build artifacts
web/.svelte-kit
web/build
web/.svelte-kit/**
desktop/frontend/dist
desktop/frontend/wailsjs
